Repository jomadu/ai-rules-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint

go-fmt:
  name: go fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go imports
  entry: bash
  language: system
  args:
  - -c
  - export PATH="$HOME/go/bin:$PATH" && goimports -w "$@"
  - --

go-mod-tidy:
  name: go mod tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash
  language: system
  args:
  - -c
  - export PATH="$HOME/go/bin:$PATH" && golangci-lint run --fix
  pass_filenames: false

docs: org
  .amazonq/rules/create-prd.md
  .amazonq/rules/generate-tasks.md
  .amazonq/rules/process-task-list.md
  .amazonq/rules/rules.md
  docs/product/prd.md
Due: none

feat: define registry interface and common authentication handling
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/registry/registry.go
  internal/registry/registry_test.go
Due: go-fmt, go-imports, golangci-lint

docs: clean up
  docs/product/ai-prd-context.md
  docs/product/prd-context.md
  docs/product/prd.md
Due: none

docs: file management
  docs/product/technical-specification.md
Due: none

docs: commands
  docs/product/technical-specification.md
Due: none

feat: implement Git registry with clone/API modes and pattern matching
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  go.mod
  go.sum
  internal/registry/git.go
  internal/registry/git_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

docs: update task process rule
  .amazonq/rules/process-task-list.md
Due: none

docs: tasks
  .amazonq/rules/process-task-list.md
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
Due: none

docs: true up
  docs/product/technical-specification.md
Due: none

docs: good place
  docs/product/technical-specification.md
Due: none

docs: add quick start guides
  docs/user/README.md
  docs/user/configuration.md
  docs/user/quick-start.md
  docs/user/registries.md
  docs/user/team-setup.md
  go.mod
  go.sum
Due: go-mod-tidy

feat: implements 1.1 and 1.2
  .golangci.yml
  cmd/arm/main.go
  cmd/arm/main_test.go
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  go.mod
  go.sum
  internal/cache/cache.go
  internal/cache/cache_test.go
  internal/cli/commands.go
  internal/cli/commands_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/install/installer.go
  internal/install/installer_test.go
  internal/registry/git.go
  internal/registry/git_test.go
  internal/registry/gitlab.go
  internal/registry/gitlab_test.go
  internal/registry/https.go
  internal/registry/https_test.go
  internal/registry/local.go
  internal/registry/local_test.go
  internal/registry/registry.go
  internal/registry/registry_test.go
  internal/registry/s3.go
  internal/registry/s3_test.go
  internal/version/resolver.go
  internal/version/resolver_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

feat: implement clean command and complete CLI interface
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/cli/commands.go
Due: go-fmt, go-imports, golangci-lint

docs: progress on tech spec
  docs/product/ai-prd-context.md
  docs/product/prd-ai-rules-manager.md
  docs/product/prd-context.md
  docs/product/technical-specification.md
Due: none

feat: implement caching system with TTL and LRU eviction
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/cache/cache.go
  internal/cache/cache_test.go
  internal/cli/commands.go
  internal/version/resolver.go
  internal/version/resolver_test.go
Due: go-fmt, go-imports, golangci-lint

docs: update add reg
  docs/product/technical-specification.md
Due: none

feat: implement GitLab registry with package API integration
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/registry/gitlab.go
  internal/registry/gitlab_test.go
Due: go-fmt, go-imports, golangci-lint

feat: configure enhanced build system for ARM binary
  Makefile
  cmd/arm/main.go
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/cli/commands.go
Due: go-fmt, go-imports, golangci-lint

fix: address linting issues in install implementation
  internal/cli/commands.go
  internal/registry/factory.go
Due: go-fmt, go-imports, golangci-lint

docs: commit on subtask
  .amazonq/rules/process-task-list.md
Due: none

docs: move things around
  .amazonq/rules/create-prd.md
  .amazonq/rules/generate-tasks.md
  docs/product/ai-rules-manager/prd.md
  docs/product/ai-rules-manager/tech-spec.md
Due: none

docs: url change
  docs/product/technical-specification.md
Due: none

docs: package management
  docs/product/technical-specification.md
Due: none

docs: auth and sec
  docs/product/technical-specification.md
Due: none

feat: implement JSON parser for arm.json and arm.lock files
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

feat: implement parallel processing with rate limiting and progress indication
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/install/arm.lock
  internal/install/installer.go
  internal/install/orchestrator.go
  internal/install/orchestrator_test.go
Due: go-fmt, go-imports, golangci-lint

docs: update
  README.md
  docs/user/team-setup.md
Due: none

refactor: formatting and linting fixes
  internal/cache/cache.go
  internal/cli/commands.go
  internal/cli/commands_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/registry/git.go
  internal/registry/git_test.go
  internal/registry/gitlab.go
  internal/registry/gitlab_test.go
  internal/registry/https.go
  internal/registry/https_test.go
  internal/registry/local.go
  internal/registry/local_test.go
  internal/registry/registry_test.go
  internal/registry/s3.go
  internal/version/resolver.go
Due: go-fmt, go-imports, golangci-lint

docs: document desired state
  REDO.md
Due: none

feat: implement HTTPS registry with manifest.json discovery
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/config/config.go
  internal/config/config_test.go
  internal/registry/git.go
  internal/registry/git_test.go
  internal/registry/gitlab.go
  internal/registry/https.go
  internal/registry/https_test.go
  internal/registry/registry.go
  internal/registry/registry_test.go
  internal/registry/s3.go
  internal/registry/s3_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement lock file management and dependency resolution
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/install/arm.lock
  internal/install/installer.go
  internal/install/installer_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement stub file generation for .armrc and arm.json
  Makefile
  cmd/arm/main.go
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/config/config.go
  internal/config/config_test.go
  internal/version/resolver.go
Due: go-fmt, go-imports, golangci-lint

feat: add configuration validation with registry type checking
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement search, info, and list commands with registry filtering
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/cli/commands.go
  internal/cli/commands_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement INI parser with environment variable expansion
  .gitignore
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

feat: implement basic CLI framework with cobra
  cmd/arm/main.go
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/cli/commands.go
  internal/config/config.go
Due: go-fmt, go-imports, golangci-lint

docs: getting close
  docs/product/technical-specification.md
Due: none

Notes added by 'git notes add'
  376e0748bf60481161b8f4451de65b96e3290a4b
Due: none

fix: cache no longer temporary dirs
  internal/registry/git.go
Due: go-fmt, go-imports, golangci-lint

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  golangci-lint: any of: \.go$
