Repository jomadu/ai-rules-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint

go-fmt:
  name: go fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go imports
  entry: bash
  language: system
  args:
  - -c
  - export PATH="$HOME/go/bin:$PATH" && goimports -w "$@"
  - --

go-mod-tidy:
  name: go mod tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash
  language: system
  args:
  - -c
  - export PATH="$HOME/go/bin:$PATH" && golangci-lint run --fix
  pass_filenames: false

feat: implement basic CLI framework with cobra
  cmd/arm/main.go
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/cli/commands.go
  internal/config/config.go
Due: go-fmt, go-imports, golangci-lint

feat: implement update, outdated, and uninstall commands
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/cli/commands.go
  internal/cli/commands_test.go
  internal/registry/local.go
  internal/registry/local_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement lock file management and dependency resolution
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/install/arm.lock
  internal/install/installer.go
  internal/install/installer_test.go
Due: go-fmt, go-imports, golangci-lint

docs: add quick start guides
  docs/user/README.md
  docs/user/configuration.md
  docs/user/quick-start.md
  docs/user/registries.md
  docs/user/team-setup.md
  go.mod
  go.sum
Due: go-mod-tidy

refactor: formatting and linting fixes
  internal/cache/cache.go
  internal/cli/commands.go
  internal/cli/commands_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/registry/git.go
  internal/registry/git_test.go
  internal/registry/gitlab.go
  internal/registry/gitlab_test.go
  internal/registry/https.go
  internal/registry/https_test.go
  internal/registry/local.go
  internal/registry/local_test.go
  internal/registry/registry_test.go
  internal/registry/s3.go
  internal/version/resolver.go
Due: go-fmt, go-imports, golangci-lint

fix: address linting issues in install implementation
  internal/cli/commands.go
  internal/registry/factory.go
Due: go-fmt, go-imports, golangci-lint

feat: implement HTTPS registry with manifest.json discovery
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/config/config.go
  internal/config/config_test.go
  internal/registry/git.go
  internal/registry/git_test.go
  internal/registry/gitlab.go
  internal/registry/https.go
  internal/registry/https_test.go
  internal/registry/registry.go
  internal/registry/registry_test.go
  internal/registry/s3.go
  internal/registry/s3_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement JSON parser for arm.json and arm.lock files
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

feat: implement parallel processing with rate limiting and progress indication
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/install/arm.lock
  internal/install/installer.go
  internal/install/orchestrator.go
  internal/install/orchestrator_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement install command with stub generation and pattern support
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/cli/commands.go
  internal/cli/commands_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement file installer with ARM namespace directory structure
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/install/installer.go
  internal/install/installer_test.go
Due: go-fmt, go-imports, golangci-lint

feat: configure enhanced build system for ARM binary
  Makefile
  cmd/arm/main.go
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/cli/commands.go
Due: go-fmt, go-imports, golangci-lint

docs: fix quick start
  docs/user/quick-start.md
Due: none

feat: implement semantic version resolution with range operators
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  go.mod
  go.sum
  internal/version/resolver.go
  internal/version/resolver_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

feat: implements 1.1 and 1.2
  .golangci.yml
  cmd/arm/main.go
  cmd/arm/main_test.go
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  go.mod
  go.sum
  internal/cache/cache.go
  internal/cache/cache_test.go
  internal/cli/commands.go
  internal/cli/commands_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/install/installer.go
  internal/install/installer_test.go
  internal/registry/git.go
  internal/registry/git_test.go
  internal/registry/gitlab.go
  internal/registry/gitlab_test.go
  internal/registry/https.go
  internal/registry/https_test.go
  internal/registry/local.go
  internal/registry/local_test.go
  internal/registry/registry.go
  internal/registry/registry_test.go
  internal/registry/s3.go
  internal/registry/s3_test.go
  internal/version/resolver.go
  internal/version/resolver_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

feat: implement Local filesystem registry with directory scanning
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/registry/local.go
  internal/registry/local_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement stub file generation for .armrc and arm.json
  Makefile
  cmd/arm/main.go
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/config/config.go
  internal/config/config_test.go
  internal/version/resolver.go
Due: go-fmt, go-imports, golangci-lint

docs: commit on subtask
  .amazonq/rules/process-task-list.md
Due: none

feat: add configuration validation with registry type checking
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement INI parser with environment variable expansion
  .gitignore
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

feat: implement Git registry with clone/API modes and pattern matching
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  go.mod
  go.sum
  internal/registry/git.go
  internal/registry/git_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

docs: update
  README.md
  docs/user/team-setup.md
Due: none

fix: correct S3 registry to use tarball directory structure per tech spec
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  go.mod
  go.sum
  internal/registry/s3.go
  internal/registry/s3_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

fix: race condition
  cmd/arm/main_test.go
  internal/install/orchestrator.go
Due: go-fmt, go-imports, golangci-lint

docs: cache
  docs/product/technical-specification.md
Due: none

docs: clarify arm parent dir
  docs/product/technical-specification.md
Due: none

docs: reconcile
  docs/product/technical-specification.md
Due: none

feat: implement hierarchical configuration merger (global + local)
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports, golangci-lint

docs: document desired state
  REDO.md
Due: none

docs: env expansion
  docs/product/technical-specification.md
Due: none

docs: net specs
  docs/product/technical-specification.md
Due: none

feat: implement config command with full CRUD operations
  docs/project/tasks/ai-rules-manager/tasks-ai-rules-manager.md
  internal/cli/commands.go
  internal/cli/commands_test.go
Due: go-fmt, go-imports, golangci-lint

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  golangci-lint: any of: \.go$
