Repository jomadu/ai-rules-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        language: system
        args: [-w]
        files: \.go$

      - id: go-imports
        name: go imports
        entry: bash
        language: system
        args: [-c, 'export PATH="$HOME/go/bin:$PATH" && goimports -w "$@"', --]
        files: \.go$

      - id: go-mod-tidy
        name: go mod tidy
        entry: go
        language: system
        args: [mod, tidy]
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash
        language: system
        args: [-c, 'export PATH="$HOME/go/bin:$PATH" && golangci-lint run --fix']
        files: \.go$
        pass_filenames: false

chore: update rule for dev with q
  .amazonq/rules/rules.md
Due: none

feat: implement P2.2 registry abstraction with GitLab, S3
  README.md
  cmd/arm/install.go
  docs/project/roadmap.md
  docs/project/tasks.md
  docs/project/tasks/p2-2-registry-abstraction.md
  docs/technical/README.md
  docs/technical/adr/001-remove-github-registry.md
  docs/technical/adr/README.md
  docs/technical/armrc-configuration.md
  internal/config/parser.go
  internal/installer/installer.go
  internal/installer/installer_test.go
  internal/registry/auth.go
  internal/registry/gitlab.go
  internal/registry/http.go
  internal/registry/interface.go
  internal/registry/manager.go
  internal/registry/manager_test.go
  internal/registry/s3.go
  internal/registry/types.go
Due: go-fmt, go-imports, golangci-lint

feat: complete P2.3 registry implementations with realistic metadata approach
  README.md
  docs/project/tasks.md
  docs/project/tasks/p2-3-registry-implementations.md
  docs/technical/README.md
  docs/technical/armrc-configuration.md
  docs/technical/metadata-generation.md
  docs/technical/registry-capabilities.md
  internal/config/parser.go
  internal/installer/installer_test.go
  internal/registry/filesystem.go
  internal/registry/gitlab.go
  internal/registry/http.go
  internal/registry/interface.go
  internal/registry/manager.go
  internal/registry/s3.go
  internal/registry/types.go
  internal/registry/validation.go
Due: go-fmt, go-imports, golangci-lint

feat: enhance registry version discovery and organize documentation
  README.md
  docs/technical/README.md
  docs/technical/core/README.md
  docs/technical/core/adr/001-remove-github-registry.md
  docs/technical/core/adr/README.md
  docs/technical/core/armrc-configuration.md
  docs/technical/core/configuration-driven-targets.md
  docs/technical/core/metadata-generation.md
  docs/technical/core/registry-capabilities.md
  docs/technical/core/testing.md
  docs/technical/registries/README.md
  docs/technical/registries/filesystem-registry.md
  docs/technical/registries/gitlab-registry.md
  docs/technical/registries/http-registry.md
  docs/technical/registries/s3-registry.md
  docs/technical/testing-uninstall.md
  internal/registry/http.go
  internal/registry/s3.go
Due: go-fmt, go-imports, golangci-lint

fix: remove unused json import from HTTP registry
  internal/registry/http.go
Due: go-fmt, go-imports, golangci-lint

fix: resolve pre-commit linting issues
  docs/technical/core/README.md
  docs/technical/core/metadata-generation.md
  docs/technical/core/registry-capabilities.md
  docs/technical/registries/README.md
  docs/technical/registries/filesystem-registry.md
  docs/technical/registries/gitlab-registry.md
  docs/technical/registries/http-registry.md
  docs/technical/registries/s3-registry.md
  internal/config/hierarchy.go
  internal/installer/installer.go
  internal/registry/filesystem.go
  internal/registry/gitlab.go
  internal/registry/http.go
  internal/registry/manager.go
  internal/registry/manager_test.go
  internal/registry/s3.go
  internal/registry/validation.go
Due: go-fmt, go-imports, golangci-lint

fix: resolve all remaining range value copy warnings
  cmd/arm/config.go
  internal/config/hierarchy.go
  internal/config/parser.go
Due: go-fmt, go-imports, golangci-lint

fix: use full paths for Go tools in Makefile
  Makefile
Due: none

feat: implement update command with version constraints and progress bars
  cmd/arm/update.go
  go.mod
  go.sum
  internal/updater/updater.go
  internal/updater/updater_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

refactor: formatting
  cmd/arm/update.go
  go.mod
  go.sum
  internal/updater/updater.go
  internal/updater/updater_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

docs: upate docs for update command
  README.md
  docs/project/roadmap.md
  docs/project/tasks/p3-1-update-command.md
  docs/project/tasks/p3-2-outdated-command.md
  docs/technical/update-command.md
Due: none

feat: implement arm outdated command with filtering and output options
  README.md
  cmd/arm/outdated.go
  cmd/arm/outdated_test.go
  docs/project/roadmap.md
  docs/project/tasks.md
  docs/project/tasks/p3-2-outdated-command.md
  go.mod
  go.sum
  internal/updater/checker.go
  internal/updater/checker_test.go
  internal/updater/updater.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

feat: implement global cache system with comprehensive unit tests
  README.md
  docs/project/tasks/p4-1-cache-system.md
  internal/cache/manager.go
  internal/cache/manager_test.go
  internal/cache/metadata.go
  internal/cache/metadata_test.go
  internal/cache/packages.go
  internal/cache/packages_test.go
  internal/cache/storage.go
  internal/cache/storage_test.go
Due: go-fmt, go-imports, golangci-lint

feat: integrate cache with install command and add comprehensive unit tests
  assets/header.png
  cmd/arm/install.go
  internal/installer/installer.go
  internal/installer/installer_cache_test.go
  internal/registry/cached.go
  internal/registry/cached_test.go
  internal/registry/helpers_test.go
  internal/registry/manager.go
  internal/registry/manager_test.go
Due: go-fmt, go-imports, golangci-lint

feat: extend cache integration to update and outdated commands
  README.md
  internal/updater/checker.go
  internal/updater/updater.go
Due: go-fmt, go-imports, golangci-lint

test: add unit tests for update/outdated cache integration
  internal/updater/checker_cache_test.go
  internal/updater/updater_cache_test.go
Due: go-fmt, go-imports, golangci-lint

docs: update project management documents to reflect Phase 4 progress
  docs/project/project-status.md
  docs/project/roadmap.md
  docs/project/tasks.md
  docs/project/tasks/p1-6-filesystem-operations.md
  docs/project/tasks/p2-4-version-management.md
  docs/project/tasks/p3-3-version-checking.md
  docs/project/tasks/p4-1-cache-system.md
Due: none

docs: update README to reflect Phase 4 progress
  README.md
Due: none

fix: address linting errors in clean command
  README.md
  cmd/arm/clean.go
  docs/project/tasks.md
  internal/cleaner/cleaner.go
Due: go-fmt, go-imports, golangci-lint

fix: update octal literals to new Go style
  cmd/arm/clean_test.go
  internal/cleaner/cleaner.go
  internal/cleaner/cleaner_test.go
Due: go-fmt, go-imports, golangci-lint

docs: update P4.2 task documentation to reflect completion
  docs/project/tasks/p4-2-clean-command.md
Due: none
