Repository jomadu/ai-rules-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint, gosec

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        language: system
        args: [-w]
        files: \.go$

      - id: go-imports
        name: go imports
        entry: goimports
        language: system
        args: [-w]
        files: \.go$

      - id: go-mod-tidy
        name: go mod tidy
        entry: go
        language: system
        args: [mod, tidy]
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint
        language: system
        args: [run, --fix]
        files: \.go$
        pass_filenames: false

      - id: gosec
        name: gosec security scanner
        entry: gosec
        language: system
        args: [-quiet, ./...]
        files: \.go$
        pass_filenames: false

fix: Potential fix for code scan
  .github/workflows/build.yml
Due: none

refactor: proper formatting
  cmd/arm/main.go
  internal/config/config.go
Due: go-fmt, go-imports, golangci-lint, gosec

ci: permissions
  .github/workflows/commitlint.yml
Due: none

docs: update P1.1 task documentation with completion summary
  docs/tasks/p1-1-project-setup.md
Due: none

feat: complete project setup with quality tools and workflows
  .commitlintrc.json
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .gitignore
  .golangci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  docs/tasks/p1-1-project-setup.md
  tasks.md
Due: none

feat: implement core data structures with comprehensive validation
  docs/tasks/p1-2-core-data-structures.md
  go.mod
  internal/parser/semver.go
  internal/parser/semver_test.go
  pkg/types/cache.go
  pkg/types/cache_test.go
  pkg/types/config.go
  pkg/types/config_test.go
  pkg/types/manifest.go
  pkg/types/manifest_test.go
  pkg/types/ruleset.go
  pkg/types/ruleset_test.go
  tasks.md
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint, gosec

chore: update rule for dev with q
  .amazonq/rules/rules.md
Due: none

ci: add rc as branch for building
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/security.yml
Due: none

feat: implement install command with HTTP download and tar extraction
  cmd/arm/install.go
  docs/tasks/p1-3-install-command.md
  internal/installer/installer.go
  internal/installer/installer_test.go
  internal/parser/semver.go
  tasks.md
Due: go-fmt, go-imports, golangci-lint, gosec

feat: implement uninstall command
  cmd/arm/uninstall.go
  internal/installer/installer.go
  internal/uninstaller/uninstaller.go
  internal/uninstaller/uninstaller_test.go
Due: go-fmt, go-imports, golangci-lint, gosec

docs: update P1.4 uninstall command task completion
  docs/tasks/p1-4-uninstall-command.md
  tasks.md
Due: none

feat: replace hardcoded paths with configuration-driven targets
  docs/configuration-driven-targets.md
  internal/installer/installer.go
  internal/installer/installer_config_test.go
  internal/uninstaller/uninstaller.go
  pkg/types/manifest.go
Due: go-fmt, go-imports, golangci-lint, gosec

docs: update task documentation for configuration-driven targets
  docs/tasks/p1-3-install-command.md
  docs/tasks/p1-6-filesystem-operations.md
  tasks.md
Due: none

feat: implement list command with table and JSON output
  cmd/arm/list.go
  cmd/arm/list_test.go
Due: go-fmt, go-imports, golangci-lint, gosec

fix: improve table formatting in list command
  cmd/arm/list.go
Due: go-fmt, go-imports, golangci-lint, gosec

docs: update documentation for list command implementation
  README.md
  docs/prd.md
  docs/tasks/p1-5-list-command.md
Due: none

feat: implement test registry for install/list workflow
  cmd/arm/install.go
  docs/testing.md
  internal/installer/installer.go
  tasks.md
  test/registry/README.md
  test/registry/packages/security-rules/1.2.0.tar.gz
  test/registry/packages/typescript-rules/1.0.0.tar.gz
  test/registry/rulesets/security-rules/secure-coding.md
  test/registry/rulesets/typescript-rules/code-style.md
  test/registry/rulesets/typescript-rules/typescript-best-practices.md
  test/registry/server.go
  test/test-install-list.sh
Due: go-fmt, go-imports, golangci-lint, gosec

docs: add next development steps documentation
  README.md
  docs/next-steps.md
Due: none

fix: prevent directory traversal in test registry server
  test/registry/server.go
Due: go-fmt, go-imports, golangci-lint, gosec

feat: complete uninstall command testing and improvements
  docs/next-steps.md
  docs/testing-uninstall.md
  internal/uninstaller/uninstaller.go
  tasks.md
Due: go-fmt, go-imports, golangci-lint, gosec
