Repository jomadu/ai-rules-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint, gosec

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        language: system
        args: [-w]
        files: \.go$

      - id: go-imports
        name: go imports
        entry: goimports
        language: system
        args: [-w]
        files: \.go$

      - id: go-mod-tidy
        name: go mod tidy
        entry: go
        language: system
        args: [mod, tidy]
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint
        language: system
        args: [run, --fix]
        files: \.go$
        pass_filenames: false

      - id: gosec
        name: gosec security scanner
        entry: gosec
        language: system
        args: [-quiet, ./...]
        files: \.go$
        pass_filenames: false

feat: complete uninstall command testing and improvements
  docs/next-steps.md
  docs/testing-uninstall.md
  internal/uninstaller/uninstaller.go
  tasks.md
Due: go-fmt, go-imports, golangci-lint, gosec

docs: update project documentation to reflect Phase 1 completion
  README.md
  docs/next-steps.md
  docs/prd.md
  docs/project-status.md
  tasks.md
Due: none

docs: consolidate documentation with audience-focused structure
  README.md
  docs/requirements.md
  docs/roadmap.md
  docs/tasks.md
  tasks.md
Due: none

docs: clean up and organize remaining documentation files
  README.md
  docs/next-steps.md
  docs/prd.md
  docs/product/requirements.md
  docs/project/project-status.md
  docs/project/roadmap.md
  docs/technical/configuration-driven-targets.md
  docs/technical/tasks.md
  docs/technical/tasks/cc-1-security.md
  docs/technical/tasks/cc-2-logging-debugging.md
  docs/technical/tasks/cc-3-user-experience.md
  docs/technical/tasks/cc-4-code-quality.md
  docs/technical/tasks/cc-5-monitoring-metrics.md
  docs/technical/tasks/p1-1-project-setup.md
  docs/technical/tasks/p1-2-core-data-structures.md
  docs/technical/tasks/p1-3-install-command.md
  docs/technical/tasks/p1-4-uninstall-command.md
  docs/technical/tasks/p1-5-list-command.md
  docs/technical/tasks/p1-6-filesystem-operations.md
  docs/technical/tasks/p2-1-configuration-management.md
  docs/technical/tasks/p2-2-registry-abstraction.md
  docs/technical/tasks/p2-3-registry-implementations.md
  docs/technical/tasks/p2-4-version-management.md
  docs/technical/tasks/p3-1-update-command.md
  docs/technical/tasks/p3-2-outdated-command.md
  docs/technical/tasks/p3-3-version-checking.md
  docs/technical/tasks/p4-1-cache-system.md
  docs/technical/tasks/p4-2-clean-command.md
  docs/technical/tasks/p4-3-performance-optimizations.md
  docs/technical/tasks/p5-1-testing.md
  docs/technical/tasks/p5-2-error-handling.md
  docs/technical/tasks/p5-3-documentation.md
  docs/technical/tasks/p5-4-distribution.md
  docs/technical/tasks/p5-5-automated-releases.md
  docs/technical/testing-uninstall.md
  docs/technical/testing.md
Due: none

docs: add README files for documentation structure guidance
  docs/README.md
  docs/product/README.md
  docs/project/README.md
  docs/technical/README.md
  docs/technical/tasks/README.md
Due: none

docs: update main README with documentation structure
  README.md
Due: none

docs: move tasks from technical to project audience
  README.md
  docs/README.md
  docs/project/README.md
  docs/project/tasks.md
  docs/project/tasks/README.md
  docs/project/tasks/cc-1-security.md
  docs/project/tasks/cc-2-logging-debugging.md
  docs/project/tasks/cc-3-user-experience.md
  docs/project/tasks/cc-4-code-quality.md
  docs/project/tasks/cc-5-monitoring-metrics.md
  docs/project/tasks/p1-1-project-setup.md
  docs/project/tasks/p1-2-core-data-structures.md
  docs/project/tasks/p1-3-install-command.md
  docs/project/tasks/p1-4-uninstall-command.md
  docs/project/tasks/p1-5-list-command.md
  docs/project/tasks/p1-6-filesystem-operations.md
  docs/project/tasks/p2-1-configuration-management.md
  docs/project/tasks/p2-2-registry-abstraction.md
  docs/project/tasks/p2-3-registry-implementations.md
  docs/project/tasks/p2-4-version-management.md
  docs/project/tasks/p3-1-update-command.md
  docs/project/tasks/p3-2-outdated-command.md
  docs/project/tasks/p3-3-version-checking.md
  docs/project/tasks/p4-1-cache-system.md
  docs/project/tasks/p4-2-clean-command.md
  docs/project/tasks/p4-3-performance-optimizations.md
  docs/project/tasks/p5-1-testing.md
  docs/project/tasks/p5-2-error-handling.md
  docs/project/tasks/p5-3-documentation.md
  docs/project/tasks/p5-4-distribution.md
  docs/project/tasks/p5-5-automated-releases.md
  docs/technical/README.md
Due: none

feat: implement P2.1 configuration management
  README.md
  cmd/arm/config.go
  cmd/arm/main.go
  docs/project/roadmap.md
  docs/project/tasks.md
  docs/project/tasks/p2-1-configuration-management.md
  internal/config/hierarchy.go
  internal/config/hierarchy_test.go
  internal/config/parser.go
  internal/config/parser_test.go
Due: go-fmt, go-imports, golangci-lint, gosec

docs: add comprehensive .armrc configuration documentation
  docs/README.md
  docs/product/requirements.md
  docs/technical/README.md
  docs/technical/armrc-configuration.md
Due: none

feat: implement uninstall command
  cmd/arm/uninstall.go
  internal/installer/installer.go
  internal/uninstaller/uninstaller.go
  internal/uninstaller/uninstaller_test.go
Due: go-fmt, go-imports, golangci-lint, gosec

ci: add rc as branch for building
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/security.yml
Due: none

fix: prevent directory traversal in test registry server
  test/registry/server.go
Due: go-fmt, go-imports, golangci-lint, gosec

docs: add next development steps documentation
  README.md
  docs/next-steps.md
Due: none

docs: update P1.4 uninstall command task completion
  docs/tasks/p1-4-uninstall-command.md
  tasks.md
Due: none

fix: improve table formatting in list command
  cmd/arm/list.go
Due: go-fmt, go-imports, golangci-lint, gosec

feat: replace hardcoded paths with configuration-driven targets
  docs/configuration-driven-targets.md
  internal/installer/installer.go
  internal/installer/installer_config_test.go
  internal/uninstaller/uninstaller.go
  pkg/types/manifest.go
Due: go-fmt, go-imports, golangci-lint, gosec

feat: implement install command with HTTP download and tar extraction
  cmd/arm/install.go
  docs/tasks/p1-3-install-command.md
  internal/installer/installer.go
  internal/installer/installer_test.go
  internal/parser/semver.go
  tasks.md
Due: go-fmt, go-imports, golangci-lint, gosec

feat: implement core data structures with comprehensive validation
  docs/tasks/p1-2-core-data-structures.md
  go.mod
  internal/parser/semver.go
  internal/parser/semver_test.go
  pkg/types/cache.go
  pkg/types/cache_test.go
  pkg/types/config.go
  pkg/types/config_test.go
  pkg/types/manifest.go
  pkg/types/manifest_test.go
  pkg/types/ruleset.go
  pkg/types/ruleset_test.go
  tasks.md
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint, gosec

docs: update documentation for list command implementation
  README.md
  docs/prd.md
  docs/tasks/p1-5-list-command.md
Due: none

docs: update task documentation for configuration-driven targets
  docs/tasks/p1-3-install-command.md
  docs/tasks/p1-6-filesystem-operations.md
  tasks.md
Due: none

feat: implement list command with table and JSON output
  cmd/arm/list.go
  cmd/arm/list_test.go
Due: go-fmt, go-imports, golangci-lint, gosec

feat: implement test registry for install/list workflow
  cmd/arm/install.go
  docs/testing.md
  internal/installer/installer.go
  tasks.md
  test/registry/README.md
  test/registry/packages/security-rules/1.2.0.tar.gz
  test/registry/packages/typescript-rules/1.0.0.tar.gz
  test/registry/rulesets/security-rules/secure-coding.md
  test/registry/rulesets/typescript-rules/code-style.md
  test/registry/rulesets/typescript-rules/typescript-best-practices.md
  test/registry/server.go
  test/test-install-list.sh
Due: go-fmt, go-imports, golangci-lint, gosec
