Repository jomadu/ai-rules-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        language: system
        args: [-w]
        files: \.go$

      - id: go-imports
        name: go imports
        entry: bash
        language: system
        args: [-c, 'export PATH="$HOME/go/bin:$PATH" && goimports -w "$@"', --]
        files: \.go$

      - id: go-mod-tidy
        name: go mod tidy
        entry: go
        language: system
        args: [mod, tidy]
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash
        language: system
        args: [-c, 'export PATH="$HOME/go/bin:$PATH" && golangci-lint run --fix']
        files: \.go$
        pass_filenames: false

docs: update docs
  docs/user/configuration.md
Due: none

test: fix tests
  tests/integration/git_local_integration_test.go
Due: go-fmt, go-imports, golangci-lint

test: fix Git integration test repository setup
  internal/registry/git_integration_test.go
Due: go-fmt, go-imports, golangci-lint

test: outdated
  internal/cli/commands.go
  internal/cli/commands_test.go
  internal/config/config.go
Due: go-fmt, go-imports, golangci-lint

test: fix tests
  internal/registry/git_integration_test.go
Due: go-fmt, go-imports, golangci-lint

Notes added by 'git notes add'
  45c84672bb1d1211e5a2687ee8b66903f35880d3
Due: none

ci: fix release
  .releaserc.json
Due: none

docs: add docs-new
  docs-new/README.md
  docs-new/development/README.md
  docs-new/development/build.md
  docs-new/development/contributing.md
  docs-new/development/release.md
  docs-new/development/setup.md
  docs-new/technical/README.md
  docs-new/technical/architecture.md
  docs-new/technical/cache.md
  docs-new/technical/configuration.md
  docs-new/technical/installation.md
  docs-new/technical/patterns.md
  docs-new/technical/registries.md
  docs-new/technical/testing.md
  docs-new/technical/version-resolution.md
  docs-new/user/README.md
  docs-new/user/configuration.md
  docs-new/user/installation.md
  docs-new/user/quick-start.md
  docs-new/user/registries.md
  docs-new/user/team-setup.md
  docs-new/user/troubleshooting.md
  docs-new/user/usage.md
Due: none

feat!: channel is specified in the .armrc
  README.md
  docs/development/README.md
  docs/development/adr/003-patterns-in-lock-file.md
  docs/technical/configuration.md
  docs/user/configuration.md
  docs/user/quick-start.md
  docs/user/usage.md
  internal/cli/commands.go
  internal/cli/commands_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/manifest.go
  internal/install/installer.go
  internal/install/installer_test.go
  internal/install/orchestrator.go
  internal/update/service.go
  scripts/test.sh
Due: go-fmt, go-imports, golangci-lint

docs: update rules
  .amazonq/rules/create-prd.md
  .amazonq/rules/generate-tasks.md
  .amazonq/rules/process-task-list.md
  .gitignore
  cache-prd.md
  cache.md
Due: none

docs: rename
  cache-prd.md
Due: none

feat: implement new cache manager interfaces and structures
  internal/cache/config.go
  internal/cache/config_test.go
  internal/cache/manager.go
  internal/cache/manager_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement GitRegistryCacheManager with commit hash directories
  internal/cache/git_cache.go
  internal/cache/git_cache_test.go
  internal/cache/manager.go
  internal/cache/manager_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement RulesetRegistryCacheManager for non-Git registries
  internal/cache/manager.go
  internal/cache/ruleset_cache.go
Due: go-fmt, go-imports, golangci-lint

feat: verify StoreRuleset and GetRuleset methods
  internal/cache/ruleset_cache.go
Due: go-fmt, go-imports, golangci-lint

feat: use .armrc.json
  internal/cli/commands.go
  internal/cli/commands_test.go
  internal/config/config.go
  internal/config/config_test.go
  scripts/test.sh
  tasks/json-config-format/tasks-prd-json-config-format.md
  tests/integration/git/comprehensive-test.sh
Due: go-fmt, go-imports, golangci-lint

feat: complete cache system validation and integration
  internal/install/arm.lock
Due: none

feat: complete cache refactor with updated integration tests
  tests/integration/git/comprehensive-test.sh
Due: none

feat: implement TTL-based cleanup and cache size monitoring
  internal/cache/cleanup_test.go
  internal/cache/config.go
  internal/cache/git_cache.go
  internal/cache/git_cache_test.go
  internal/cache/manager_test.go
  internal/cache/ruleset_cache.go
  internal/cache/ruleset_cache_test.go
Due: go-fmt, go-imports, golangci-lint

fix: engines populated
  internal/cli/commands.go
  internal/config/config.go
  internal/config/manifest.go
Due: go-fmt, go-imports, golangci-lint

feat: move cache config to .armrc and make global-only
  internal/config/cache.go
  internal/config/cache_test.go
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports, golangci-lint

test: update
  scripts/test.sh
Due: none

docs: remove all docs
  docs/README.md
  docs/development/README.md
  docs/development/adr/003-patterns-in-lock-file.md
  docs/development/build.md
  docs/development/contributing.md
  docs/development/release.md
  docs/development/setup.md
  docs/technical/README.md
  docs/technical/architecture.md
  docs/technical/cache.md
  docs/technical/configuration.md
  docs/technical/installation.md
  docs/technical/patterns.md
  docs/technical/registries.md
  docs/technical/testing.md
  docs/technical/version-resolution.md
  docs/user/README.md
  docs/user/configuration.md
  docs/user/installation.md
  docs/user/quick-start.md
  docs/user/registries.md
  docs/user/team-setup.md
  docs/user/troubleshooting.md
  docs/user/usage.md
Due: none

fix: move cache configuration to dedicated JSON file
  docs/technical/configuration.md
  internal/cache/cleanup_test.go
  internal/cache/config.go
  internal/cache/config_test.go
  internal/cache/lock.go
  internal/cache/lock_test.go
  internal/config/cache.go
  internal/config/cache_simple_test.go
  internal/config/cache_test.go
  internal/config/config.go
  internal/registry/factory_test.go
Due: go-fmt, go-imports, golangci-lint

feat: complete non-Git registry cache manager with comprehensive tests
  internal/cache/ruleset_cache_test.go
Due: go-fmt, go-imports, golangci-lint

feat: refactor registry implementations to use new cache managers
  internal/cache/cleanup_test.go
  internal/cache/git_cache_test.go
  internal/cache/manager.go
  internal/cache/metadata.go
  internal/cache/metadata_test.go
  internal/cache/registry_map.go
  internal/cache/registry_map_test.go
  internal/cache/ruleset_cache_test.go
  internal/cache/ruleset_map.go
  internal/cache/ruleset_map_test.go
  internal/cache/ruleset_storage.go
  internal/cache/ruleset_storage_test.go
  internal/cache/structure_test.go
  internal/cache/url_normalizer.go
  internal/cache/url_normalizer_test.go
  internal/cache/version_resolver.go
  internal/cli/commands.go
  internal/config/cache_test.go
  internal/registry/factory.go
  internal/registry/factory_test.go
  internal/registry/git.go
Due: go-fmt, go-imports, golangci-lint

feat!: only global cache
  internal/cache/git_cache.go
  internal/cache/git_cache_test.go
  internal/cache/lock.go
  internal/cache/lock_test.go
  internal/cache/ruleset_cache.go
  internal/cache/ruleset_cache_test.go
  internal/config/cache.go
  internal/config/cache_simple_test.go
  internal/config/cache_test.go
  internal/registry/factory.go
  internal/registry/factory_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement registry locking with timeout and stale cleanup
  internal/cache/lock.go
  internal/cache/lock_test.go
Due: go-fmt, go-imports, golangci-lint

feat: replace INI configuration parser with JSON-only implementation
  .amazonq/rules/create-prd.md
  .amazonq/rules/generate-tasks.md
  .amazonq/rules/process-task-list.md
  .gitignore
  internal/config/config.go
  tasks/cache-refactor/prd-cache-refactor.md
  tasks/cache-refactor/tasks-cache-refactor.md
  tasks/json-config-format/prd-json-config-format.md
  tasks/json-config-format/tasks-prd-json-config-format.md
Due: go-fmt, go-imports, golangci-lint

feat: implement JSON schema validation for ARM configuration
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/config/schema.json
  internal/config/validation.go
  tasks/json-config-format/tasks-prd-json-config-format.md
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

Notes added by 'git notes add'
  081906bafb5276aed066bec49916b176c0301b10
Due: none

feat!: lotta breaking changes
  tasks/cache-refactor/prd-cache-refactor.md
Due: none

test: fix comp script
  tests/integration/git/comprehensive-test.sh
Due: none
