Repository jomadu/ai-rules-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint

go-fmt:
  name: go fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go imports
  entry: bash
  language: system
  args:
  - -c
  - export PATH="$HOME/go/bin:$PATH" && goimports -w "$@"
  - --

go-mod-tidy:
  name: go mod tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash
  language: system
  args:
  - -c
  - export PATH="$HOME/go/bin:$PATH" && golangci-lint run --fix
  pass_filenames: false

fix: address linting errors in clean command
  README.md
  cmd/arm/clean.go
  docs/project/tasks.md
  internal/cleaner/cleaner.go
Due: go-fmt, go-imports, golangci-lint

fix: update octal literals to new Go style
  cmd/arm/clean_test.go
  internal/cleaner/cleaner.go
  internal/cleaner/cleaner_test.go
Due: go-fmt, go-imports, golangci-lint

docs: update P4.2 task documentation to reflect completion
  docs/project/tasks/p4-2-clean-command.md
Due: none

feat: implement parallel downloads with configurable concurrency
  README.md
  cmd/arm/install.go
  docs/project/roadmap.md
  docs/project/tasks.md
  docs/project/tasks/p4-3-performance-optimizations.md
  internal/config/parser.go
  internal/config/parser_test.go
  internal/performance/parallel.go
  internal/performance/parallel_test.go
  internal/registry/manager.go
  internal/registry/manager_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement integration tests for core workflows
  docs/project/tasks.md
  docs/project/tasks/p5-1-testing.md
  go.mod
  go.sum
  test/fixtures/invalid-config.armrc
  test/fixtures/rules.json
  test/integration/basic_test.go
  test/integration/helper.go
  test/integration/registry_test.go
  test/integration/testserver.go
  test/integration/workflow_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

fix: resolve integration test failures
  test/integration/registry_test.go
  test/integration/workflow_test.go
Due: go-fmt, go-imports, golangci-lint

feat: implement structured error handling system
  internal/config/parser.go
  internal/config/parser_error_test.go
  internal/errors/types.go
  internal/errors/types_test.go
  internal/installer/batch.go
  internal/installer/batch_test.go
  internal/installer/installer.go
  internal/registry/manager.go
Due: go-fmt, go-imports, golangci-lint

docs: reorganize by audience and simplify content
  Makefile
  cmd/arm/install.go
  cmd/arm/list.go
  cmd/arm/main.go
  cmd/arm/uninstall.go
  docs/README.md
  docs/development/README.md
  docs/development/getting-started.md
  docs/product/README.md
  docs/project/README.md
  docs/project/tasks.md
  docs/project/tasks/p5-1-testing.md
  docs/project/tasks/p5-3-documentation.md
  docs/technical/README.md
  docs/technical/core/armrc-configuration.md
  docs/technical/core/testing.md
  docs/technical/registries/README.md
  docs/technical/registries/filesystem-registry.md
  docs/technical/registries/gitlab-registry.md
  docs/technical/registries/http-registry.md
  docs/technical/registries/s3-registry.md
  docs/user/README.md
  docs/user/configuration.md
  docs/user/getting-started.md
  docs/user/registries/filesystem.md
  docs/user/registries/gitlab.md
  docs/user/registries/http.md
  docs/user/registries/s3.md
  docs/user/troubleshooting.md
Due: go-fmt, go-imports, golangci-lint

feat: implement semantic release with automated distribution
  .github/workflows/release.yml
  .releaserc.json
  docs/project/tasks.md
  package.json
  scripts/install.sh
Due: none

fix: improve semantic release configuration
  .github/workflows/release.yml
  .releaserc.json
  cmd/arm/main.go
  package.json
Due: go-fmt, go-imports, golangci-lint

fix: remove npm cache from workflow without lock file
  .github/workflows/release.yml
Due: none

fix: use npm install instead of npm ci without lock file
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  8b0fc06986bb953614fb77e2a2ab67fea64670b0
Due: none

fix: improve version detection in release workflow
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  5c464a4dde385a61be23ca87111504578a1efc57
Due: none

docs: fix installation URLs and binary format
  README.md
  docs/user/getting-started.md
Due: none

feat: add git repository registry documentation
  README.md
  docs/project/tasks.md
  docs/project/tasks/p6-1-git-registry.md
  docs/user/configuration.md
  docs/user/git-registries.md
Due: none

docs: improve git feature docs
  docs/project/tasks/p6-1-git-registry.md
  docs/technical/core/adr/002-git-registry-design.md
  docs/user/git-registries.md
Due: none

feat: implement git repository registry support
  cmd/arm/main.go
  docs/user/git-registry-examples.md
  example-git-config.armrc
  example-git-rules.json
  go.mod
  go.sum
  internal/config/parser.go
  internal/installer/git_installer_test.go
  internal/registry/git.go
  internal/registry/git_generic.go
  internal/registry/git_github.go
  internal/registry/git_gitlab.go
  internal/registry/git_test.go
  internal/registry/manager.go
  internal/registry/types.go
  internal/updater/git_updater_test.go
  test/integration/git_registry_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

Notes added by 'git notes add'
  b0aeb50abb2d32f3ee9fa2dece708f43cfe5c502
Due: none

docs: update mostly the development docs
  docs/README.md
  docs/development/README.md
  docs/development/architecture/adr/001-remove-github-registry.md
  docs/development/architecture/adr/002-git-registry-design.md
  docs/development/architecture/adr/README.md
  docs/development/architecture/caching.md
  docs/development/architecture/components.md
  docs/development/architecture/overview.md
  docs/development/architecture/registries.md
  docs/development/getting-started.md
  docs/project/tasks/p5-4-distribution.md
  docs/technical/README.md
  docs/technical/core/README.md
  docs/technical/core/armrc-configuration.md
  docs/technical/core/configuration-driven-targets.md
  docs/technical/core/metadata-generation.md
  docs/technical/core/registry-capabilities.md
  docs/technical/core/testing.md
  docs/technical/update-command.md
Due: none

docs: getting closer
  docs/user/README.md
  docs/user/commands.md
  docs/user/configuration.md
  docs/user/getting-started.md
  docs/user/git-registries.md
  docs/user/git-registry-examples.md
  docs/user/installation.md
  docs/user/registries.md
  docs/user/registries/filesystem.md
  docs/user/registries/gitlab.md
  docs/user/registries/http.md
  docs/user/registries/s3.md
  docs/user/troubleshooting.md
Due: none

fix: improve onboarding experience
  README.md
  cmd/arm/install.go
  docs/README.md
  docs/user/README.md
  docs/user/commands.md
  docs/user/configuration.md
  docs/user/getting-started.md
  docs/user/installation.md
  docs/user/registries.md
  docs/user/troubleshooting.md
  pkg/types/manifest.go
Due: go-fmt, go-imports, golangci-lint

fix: implement install workflow for missing configuration files
  .gitignore
  cmd/arm/install.go
  cmd/arm/install_test.go
  package-lock.json
  test/integration/install_workflow_test.go
Due: go-fmt, go-imports, golangci-lint

fix: update octal literals to new Go style
  cmd/arm/install.go
  cmd/arm/install_test.go
  test/integration/git_registry_test.go
  test/integration/install_workflow_test.go
Due: go-fmt, go-imports, golangci-lint

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  golangci-lint: any of: \.go$
