Repository jomadu/ai-rules-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint

go-fmt:
  name: go fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go imports
  entry: bash
  language: system
  args:
  - -c
  - export PATH="$HOME/go/bin:$PATH" && goimports -w "$@"
  - --

go-mod-tidy:
  name: go mod tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash
  language: system
  args:
  - -c
  - export PATH="$HOME/go/bin:$PATH" && golangci-lint run --fix
  pass_filenames: false

Notes added by 'git notes add'
  84066187db1d5cf14378eb47dc2c5765f312bb44
Due: none

docs: improve install script
  README.md
  scripts/install.sh
Due: none

fix: constraints and resolved
  internal/cli/commands.go
  internal/install/installer.go
Due: go-fmt, go-imports, golangci-lint

test: fix tests
  internal/cli/commands_test.go
Due: go-fmt, go-imports, golangci-lint

Notes added by 'git notes add'
  bb6a7d1071a66afd59caee9f545b9990ecb936cd
Due: none

feat!: remove non-git based registry types
  README.md
  internal/cli/commands.go
  internal/config/config.go
  internal/config/config_test.go
  internal/registry/factory.go
  internal/registry/gitlab.go
  internal/registry/gitlab_test.go
  internal/registry/https.go
  internal/registry/https_test.go
  internal/registry/local.go
  internal/registry/local_test.go
  internal/registry/registry.go
  internal/registry/registry_test.go
  internal/registry/s3.go
  internal/registry/s3_test.go
Due: go-fmt, go-imports, golangci-lint

Notes added by 'git notes add'
  0224428a58611582c4666de6a44fabf162d81791
Due: none

feat!: remove git-local
  README.md
  internal/cli/commands.go
  internal/config/config.go
  internal/config/schema.json
  internal/registry/factory.go
  internal/registry/git_local.go
  internal/registry/git_local_test.go
  internal/registry/local_git_errors.go
  internal/registry/local_git_errors_test.go
  internal/registry/local_git_operations.go
  internal/registry/local_git_operations_test.go
  internal/registry/registry.go
  internal/registry/registry_test.go
  internal/update/service.go
Due: go-fmt, go-imports, golangci-lint

Notes added by 'git notes add'
  73cfd8f410e29094d2170937d479fd7f51be2cfd
Due: none

feat!: remove extra auth, leverage git auth
  internal/cli/commands.go
  internal/cli/commands_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/schema.json
  internal/registry/base_git_registry.go
  internal/registry/factory.go
  internal/registry/factory_test.go
  internal/registry/git.go
  internal/registry/git_test.go
  internal/registry/registry.go
  internal/registry/registry_test.go
  internal/registry/remote_git_operations.go
  internal/update/service.go
Due: go-fmt, go-imports, golangci-lint

Notes added by 'git notes add'
  38c17b17917fc2902f8f574a4eeba0d5cbfd4f2b
Due: none

feat!: remove cache config
  internal/cli/commands.go
  internal/config/cache.go
  internal/config/cache_test.go
  internal/config/config.go
  internal/registry/factory.go
  internal/registry/factory_test.go
Due: go-fmt, go-imports, golangci-lint

Notes added by 'git notes add'
  7cd9a7e6ab3cf3ae6fd75833862265404f5884c6
Due: none

feat!: remove search and completion
  internal/cli/commands.go
  internal/cli/commands_test.go
  internal/cli/search_test.go
  internal/registry/git.go
  internal/registry/registry.go
Due: go-fmt, go-imports, golangci-lint

Notes added by 'git notes add'
  2b1422a702256a2cbc5b40ee5371c57c15d37bb3
Due: none

test: remove git-local tests
  tests/integration/git/comprehensive-test.sh
  tests/integration/install_integration_test.go
  tests/integration/update_integration_test.go
Due: go-fmt, go-imports, golangci-lint

doc: nuke and pave
  tasks/full-nuke-and-pave/prd-full-nuke-and-pave.md
Due: none

doc: flesh out install examples
  tasks/full-nuke-and-pave/prd-full-nuke-and-pave.md
Due: none

docs: uninstall
  tasks/full-nuke-and-pave/prd-full-nuke-and-pave.md
Due: none

docs: info
  tasks/full-nuke-and-pave/prd-full-nuke-and-pave.md
Due: none

docs: add last commands
  tasks/full-nuke-and-pave/prd-full-nuke-and-pave.md
Due: none

docs: remove old tasks that are irrelevant now
  tasks/cache-refactor/prd-cache-refactor.md
  tasks/cache-refactor/tasks-cache-refactor.md
  tasks/json-config-format/prd-json-config-format.md
  tasks/json-config-format/tasks-prd-json-config-format.md
Due: none

docs: components
  tasks/full-nuke-and-pave/action-plan.md
  tasks/full-nuke-and-pave/components.md
Due: none

feat: interfaces plus tests
  cmd/arm/main.go
  go.mod
  go.sum
  pkg/cache/interfaces.go
  pkg/cache/interfaces_test.go
  pkg/config/interfaces.go
  pkg/config/interfaces_test.go
  pkg/errors/types.go
  pkg/filesystem/interfaces.go
  pkg/filesystem/interfaces_test.go
  pkg/provider/interfaces.go
  pkg/provider/interfaces_test.go
  pkg/registry/interfaces.go
  pkg/registry/interfaces_test.go
  pkg/version/interfaces.go
  pkg/version/interfaces_test.go
  tasks/full-nuke-and-pave/action-plan.md
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  golangci-lint: any of: \.go$
